
# PlanAhead Generated physical constraints 

#INST "usr/ipb_vfat2_inst" AREA_GROUP = "pblock_ipb_vfat2_inst";
#AREA_GROUP "pblock_ipb_vfat2_inst" RANGE=SLICE_X10Y163:SLICE_X23Y178;
INST "usr/link_tracking_1_inst/vi2c_core_inst" AREA_GROUP = "pblock_vi2c_core_inst";
AREA_GROUP "pblock_vi2c_core_inst" RANGE=SLICE_X24Y163:SLICE_X33Y178;
AREA_GROUP "pblock_vi2c_core_inst" RANGE=DSP48_X2Y66:DSP48_X2Y69;
