
NET "RTM_12V_EN"						LOC=P1   |	IOSTANDARD=LVCMOS33; 		  
NET "MMC_LOW_VOLTAGE_POK" 			LOC=P2   |	IOSTANDARD=LVCMOS33;      
NET "RTM_PS" 							LOC=P3   |	IOSTANDARD=LVCMOS33;      
NET "AMC_TCK" 							LOC=P4   |	IOSTANDARD=LVCMOS33; #  Not used    
NET "AMC_TMS" 							LOC=P6   |	IOSTANDARD=LVCMOS33; #  Not used     
NET "AMC_TDO" 							LOC=P7   |	IOSTANDARD=LVCMOS33; #  Not used   
NET "CPLD_LED[1]"						LOC=P8   |	IOSTANDARD=LVCMOS33;     
NET "AMC_TDI" 							LOC=P9   |	IOSTANDARD=LVCMOS33; #  Not used   
NET "MMC_FPGA1_INIT_DONE" 			LOC=P10  |	IOSTANDARD=LVCMOS33;      
NET "MMC_FPGA2_INIT_DONE" 			LOC=P11  |	IOSTANDARD=LVCMOS33;      
NET "MMC_RESET_FPGA_N" 				LOC=P12  |	IOSTANDARD=LVCMOS33;      
NET "MMC_RELOAD_FPGAS_N" 			LOC=P13  |	IOSTANDARD=LVCMOS33;      
NET "FPGA_TMS" 						LOC=P14  |	IOSTANDARD=LVCMOS25;   
NET "FPGA_TCK" 						LOC=P15  |	IOSTANDARD=LVCMOS25;   
NET "FPGA_TDI" 						LOC=P16  |	IOSTANDARD=LVCMOS25;   
NET "FPGA_TDO" 						LOC=P17  |	IOSTANDARD=LVCMOS25;   
NET "GBE_TDO" 							LOC=P18  |	IOSTANDARD=LVCMOS25;   
NET "GBE_TMS" 							LOC=P19  |	IOSTANDARD=LVCMOS25;   
NET "CPLD_RS_IN[1]"					LOC=P22  |	IOSTANDARD=LVCMOS25;
NET "GBE_TCK" 							LOC=P23  |	IOSTANDARD=LVCMOS25;   
NET "GBE_TDI" 							LOC=P24  |	IOSTANDARD=LVCMOS25;   
NET "XTAL_CPLD"					 	LOC=P27  |	IOSTANDARD=LVCMOS25; # BUFG in glib_cpld.vhd    
NET "PGOOD_2V5" 						LOC=P28  |	IOSTANDARD=LVCMOS25;      
NET "PGOOD_3V3" 						LOC=P29  |	IOSTANDARD=LVCMOS25;      
NET "PGOOD_1V0" 						LOC=P30  |	IOSTANDARD=LVCMOS25;      
NET "PGOOD_1V5" 						LOC=P32  |	IOSTANDARD=LVCMOS25;      
NET "V6_CPLD[4]" 						LOC=P33  |	IOSTANDARD=LVCMOS25; 	
NET "V6_CPLD[3]" 						LOC=P34	|	IOSTANDARD=LVCMOS25;      
NET "V6_CPLD[5]" 						LOC=P35  |	IOSTANDARD=LVCMOS25;       
NET "FPGA_RESET_B" 					LOC=P36 	|	IOSTANDARD=LVCMOS25;      
NET "V6_CPLD[0]" 						LOC=P37 	|	IOSTANDARD=LVCMOS25;      
NET "V6_CPLD[1]" 						LOC=P39  |	IOSTANDARD=LVCMOS25;      
NET "V6_CPLD[2]" 						LOC=P40	|	IOSTANDARD=LVCMOS25;
NET "CPLD_A21_OUT"					LOC=P41 	|	IOSTANDARD=LVCMOS25; 
NET "CPLD_A22_OUT"					LOC=P42 	|	IOSTANDARD=LVCMOS25;  
NET "CPLD_A21_IN"						LOC=P43  |	IOSTANDARD=LVCMOS25;  
NET "CPLD_A22_IN"						LOC=P44	|	IOSTANDARD=LVCMOS25; 
NET "CPLD_RS_IN[0]"					LOC=P46	|	IOSTANDARD=LVCMOS25;  
NET "SRAM2_TCK" 						LOC=P49	|	IOSTANDARD=LVCMOS25; 
NET "SRAM2_TDO" 						LOC=P50	|	IOSTANDARD=LVCMOS25; 
NET "SRAM2_TMS" 						LOC=P52	|	IOSTANDARD=LVCMOS25; 
NET "SRAM2_TDI" 						LOC=P53	|	IOSTANDARD=LVCMOS25; 
NET "SRAM1_TCK" 						LOC=P54	|	IOSTANDARD=LVCMOS25; 
NET "SRAM1_TDO" 						LOC=P55	|	IOSTANDARD=LVCMOS25; 
NET "SRAM1_TMS" 						LOC=P56	|	IOSTANDARD=LVCMOS25; 
NET "SRAM1_TDI" 						LOC=P58	|	IOSTANDARD=LVCMOS25; 
NET "FPGA_DONE" 						LOC=P59	|	IOSTANDARD=LVCMOS25; 
NET "FPGA_INIT_B" 					LOC=P60	|	IOSTANDARD=LVCMOS25; 
NET "FPGA_PROGRAM_B" 				LOC=P61	|	IOSTANDARD=LVCMOS25; 
NET "FMC_PRSNT_M2C_L[2]"			LOC=P63  |	IOSTANDARD=LVCMOS25;      
NET "FMC_PRSNT_M2C_L[1]"			LOC=P64  |	IOSTANDARD=LVCMOS25;      
NET "FMCX_PG_C2M" 					LOC=P65  |	IOSTANDARD=LVCMOS33;      
NET "FMC_PG_M2C[1]" 					LOC=P66  |	IOSTANDARD=LVCMOS33;      
NET "FMC2_TCK" 						LOC=P67  |	IOSTANDARD=LVCMOS33; #  Not used   
NET "FMC2_TDI" 						LOC=P68  |	IOSTANDARD=LVCMOS33; #  Not used   
NET "FMC1_TMS" 						LOC=P70  |	IOSTANDARD=LVCMOS33; #  Not used  
NET "FMC1_TDI" 						LOC=P71  |	IOSTANDARD=LVCMOS33; #  Not used 
NET "FMC1_TCK" 						LOC=P72  |	IOSTANDARD=LVCMOS33; #  Not used 
NET "CPLD_LED[2]"					 	LOC=P73  |	IOSTANDARD=LVCMOS33;
NET "FMC2_TMS" 						LOC=P74  |	IOSTANDARD=LVCMOS33; #  Not used 
NET "CPLD_LED[3]"					 	LOC=P76  |	IOSTANDARD=LVCMOS33;   
NET "FMC1_TDO" 						LOC=P77  |	IOSTANDARD=LVCMOS33; #  Not used     
NET "SW[1]"								LOC=P78  |	IOSTANDARD=LVCMOS33;     
NET "SW[2]"								LOC=P79  |	IOSTANDARD=LVCMOS33;     
NET "SW[3]"								LOC=P80  |	IOSTANDARD=LVCMOS33;     
NET "FMC2_TDO" 						LOC=P81  |	IOSTANDARD=LVCMOS33; #  Not used     
NET "FMC_PG_M2C[2]" 					LOC=P82	|	IOSTANDARD=LVCMOS33;   
NET "SW[4]"								LOC=P85  |	IOSTANDARD=LVCMOS33;      
NET "JTAG_HEADER_TDI" 				LOC=P86  |	IOSTANDARD=LVCMOS33;    
NET "JTAG_HEADER_TDO" 				LOC=P87  |	IOSTANDARD=LVCMOS33;      
NET "JTAG_HEADER_TCK" 				LOC=P89  |	IOSTANDARD=LVCMOS33;      
NET "JTAG_HEADER_TMS" 				LOC=P90  |	IOSTANDARD=LVCMOS33;      
NET "MMC_TDO" 							LOC=P91  |	IOSTANDARD=LVCMOS33;      
NET "MMC_PG4" 							LOC=P92  |	IOSTANDARD=LVCMOS33;      
NET "MMC_PE6" 							LOC=P93  |	IOSTANDARD=LVCMOS33;      
NET "MMC_TDI" 							LOC=P94  |	IOSTANDARD=LVCMOS33; #  Not used  
NET "MMC_TMS" 							LOC=P95  |	IOSTANDARD=LVCMOS33; #  Not used      
NET "RTM_I2C_EN"						LOC=P96  |	IOSTANDARD=LVCMOS33;      
NET "RTM_3V3_EN"						LOC=P97  |	IOSTANDARD=LVCMOS33;      
NET "MMC_TCK" 							LOC=P99  |	IOSTANDARD=LVCMOS33;    