
# PlanAhead Generated physical constraints 

INST "usr/gtx_rx_mux_inst" AREA_GROUP = "pblock_gtx_rx_mux_inst";
AREA_GROUP "pblock_gtx_rx_mux_inst" RANGE=SLICE_X100Y0:SLICE_X105Y4;
AREA_GROUP "pblock_gtx_rx_mux_inst" RANGE=RAMB18_X6Y0:RAMB18_X6Y1;
AREA_GROUP "pblock_gtx_rx_mux_inst" RANGE=RAMB36_X6Y0:RAMB36_X6Y0;
INST "usr/gtx_tx_mux_inst" AREA_GROUP = "pblock_gtx_tx_mux_inst";
AREA_GROUP "pblock_gtx_tx_mux_inst" RANGE=SLICE_X100Y5:SLICE_X105Y9;
AREA_GROUP "pblock_gtx_tx_mux_inst" RANGE=RAMB18_X6Y2:RAMB18_X6Y3;
AREA_GROUP "pblock_gtx_tx_mux_inst" RANGE=RAMB36_X6Y1:RAMB36_X6Y1;
INST "usr/ipb_vfat2_inst" AREA_GROUP = "pblock_ipb_vfat2_inst";
AREA_GROUP "pblock_ipb_vfat2_inst" RANGE=SLICE_X92Y0:SLICE_X99Y9;
AREA_GROUP "pblock_ipb_vfat2_inst" RANGE=RAMB18_X5Y0:RAMB18_X5Y3;
AREA_GROUP "pblock_ipb_vfat2_inst" RANGE=RAMB36_X5Y0:RAMB36_X5Y1;
