#INST "usr/link_tracking_0_inst" AREA_GROUP = "pblock_link_tracking_0_inst";
#AREA_GROUP "pblock_link_tracking_0_inst" RANGE=SLICE_X88Y0:SLICE_X105Y9;
#AREA_GROUP "pblock_link_tracking_0_inst" RANGE=RAMB18_X5Y0:RAMB18_X6Y3;
#AREA_GROUP "pblock_link_tracking_0_inst" RANGE=RAMB36_X5Y0:RAMB36_X6Y1;

INST "usr/link_tracking_1_inst" AREA_GROUP = "pblock_link_tracking_1_inst";
AREA_GROUP "pblock_link_tracking_1_inst" RANGE=SLICE_X88Y10:SLICE_X105Y19;
AREA_GROUP "pblock_link_tracking_1_inst" RANGE=RAMB18_X5Y4:RAMB18_X6Y7;
AREA_GROUP "pblock_link_tracking_1_inst" RANGE=RAMB36_X5Y2:RAMB36_X6Y3;

#INST "usr/link_tracking_2_inst" AREA_GROUP = "pblock_link_tracking_2_inst";
#AREA_GROUP "pblock_link_tracking_2_inst" RANGE=SLICE_X88Y20:SLICE_X105Y29;
#AREA_GROUP "pblock_link_tracking_2_inst" RANGE=RAMB18_X5Y8:RAMB18_X6Y11;
#AREA_GROUP "pblock_link_tracking_2_inst" RANGE=RAMB36_X5Y4:RAMB36_X6Y5;

INST "usr/ipb_fast_signals_inst" AREA_GROUP = "pblock_ipb_fst_sgnls_inst";
AREA_GROUP "pblock_ipb_fst_sgnls_inst" RANGE=SLICE_X80Y10:SLICE_X87Y19;
