#######################################
## GB ETHERNET MGT REFCLK
#######################################
NET "gbe_refclk_p" 							LOC = V6;
NET "gbe_refclk_n" 							LOC = V5;

NET "gbe_refclk_p" 							TNM_NET = "gbe_refclk_p";
NET "gbe_refclk_n" 							TNM_NET = "gbe_refclk_n";

TIMESPEC TS_gbe_refclk_p = 				PERIOD    "gbe_refclk_p" 8 ns HIGH 50 %;
TIMESPEC TS_gbe_refclk_n = 				PERIOD    "gbe_refclk_n" TS_gbe_refclk_p  PHASE 4 ns HIGH 50 %;


#NET "system/*amc_p0_eth/clk125_out" 	TNM_NET = amc_p0_eth/clk125_out;
#TIMESPEC TS_amc_p0_eth_clk125_out 	 = PERIOD "amc_p0_eth/clk125_out" TS_gbe_refclk_p HIGH 50%;
#
#NET "system/*amc_p1_eth/clk125_out" 	TNM_NET = amc_p1_eth/clk125_out;
#TIMESPEC TS_amc_p1_eth_clk125_out    = PERIOD "amc_p1_eth/clk125_out" TS_gbe_refclk_p HIGH 50%;


#NET "system/*phy_eth/clk125_out" 		TNM_NET = phy_eth/clk125_out;
#TIMESPEC TS_phy_eth_clk125_out 		 = PERIOD "phy_eth/clk125_out" TS_gbe_refclk_p HIGH 50%;

#NET "system/*fmc2_eth/clk125_out" 		TNM_NET = fmc2_eth/clk125_out;
#TIMESPEC TS_fmc2_eth_clk125_out 		 = PERIOD "fmc2_eth/clk125_out" TS_gbe_refclk_p HIGH 50%;

#######################################
## 125MHz FABRIC CLOCK
#######################################
NET "clk125_0_p" 								LOC = H28;
NET "clk125_0_n" 								LOC = H29;

NET "clk125_0_p" 								TNM_NET = clk125_0_p;
NET "clk125_0_n" 								TNM_NET = clk125_0_n;

TIMESPEC TS_clk125_0_p = 					PERIOD "clk125_0_p" 8 ns HIGH 50%;
TIMESPEC TS_clk125_0_n = 					PERIOD "clk125_0_n" TS_clk125_0_p PHASE 4 ns HIGH 50%;

#######################################
## 40MHz FABRIC CLOCK
#######################################
NET "mclk_0_n" 								LOC = B10;
NET "mclk_0_p" 								LOC = A10;

NET "mclk_0_p" 								TNM_NET = mclk_0_p;
NET "mclk_0_n" 								TNM_NET = mclk_0_n;

TIMESPEC TS_mclk_0_p	= 						PERIOD "mclk_0_p" 25 ns HIGH 50%;
TIMESPEC TS_mclk_0_n	= 						PERIOD "mclk_0_n" TS_mclk_0_p PHASE 12.5 ns HIGH 50%;

#NET "cdce_clkout4_p"	   					LOC = L23			;	# IO_L0P_GC_24
#NET "cdce_clkout4_n"			   			LOC = M22			;	# IO_L0N_GC_24
#
#NET "cdce_clkout4_p" 						TNM_NET = cdce_clkout4_p;
#NET "cdce_clkout4_n" 						TNM_NET = cdce_clkout4_n;
#
#TIMESPEC TS_cdce_clkout4_p = 				PERIOD "cdce_clkout4_p" 25 ns HIGH 50%;
#TIMESPEC TS_cdce_clkout4_n = 				PERIOD "cdce_clkout4_n" TS_cdce_clkout4_p PHASE 12.5 ns HIGH 50%;
