#######################################
##
#######################################
NET "fmc1_clk1_m2c_p"						LOC = D11			;	# IO_L19P_GC_35
NET "fmc1_clk1_m2c_n"						LOC = E11			;	# IO_L19N_GC_35
NET "fmc2_clk1_m2c_p"						LOC = B31			;	# IO_L19P_GC_25
NET "fmc2_clk1_m2c_n"						LOC = A31			;	# IO_L19N_GC_25
NET "xpoint_4x4_out3_p"						LOC = J9  			;	# IO_L0P_GC_34	
NET "xpoint_4x4_out3_n"						LOC = H9				;	# IO_L0N_GC_34
NET "cdce_auxout_p"	   					LOC = K24			;	# IO_L1P_GC_24
NET "cdce_auxout_n"	   					LOC = K23			;	# IO_L1N_GC_24
NET "xpoint_2x2_out1_p"						LOC = K13			;	# IO_L18P_GC_35
NET "xpoint_2x2_out1_n"						LOC = K12			;	# IO_L18N_GC_35

NET "cdce_clkout4_p"	   					LOC = L23			;	# IO_L0P_GC_24
NET "cdce_clkout4_n"			   			LOC = M22			;	# IO_L0N_GC_24

NET "cdce_clkout4_p" 						TNM_NET = cdce_clkout4_p;
NET "cdce_clkout4_n" 						TNM_NET = cdce_clkout4_n;

TIMESPEC TS_cdce_clkout4_p = 				PERIOD "cdce_clkout4_p" 25 ns HIGH 50%;
TIMESPEC TS_cdce_clkout4_n = 				PERIOD "cdce_clkout4_n" TS_cdce_clkout4_p PHASE 12.5 ns HIGH 50%;