################################## Clock Constraints ##########################

NET "usr/high_speed_top_inst/q1_clk0_refclk_i" TNM_NET = "usr/high_speed_top_inst/q1_clk0_refclk_i";
TIMESPEC "TS_q1_clk0_refclk_i" = PERIOD "usr/high_speed_top_inst/q1_clk0_refclk_i" 6.25;



# User Clock Constraints
NET "usr/high_speed_top_inst/gtx0_txusrclk2_i" TNM_NET = "usr/high_speed_top_inst/gtx0_txusrclk2_i";
TIMESPEC "TS_gtx0_txusrclk2_i" = PERIOD "usr/high_speed_top_inst/gtx0_txusrclk2_i" 6.25;

#################################### SFP #####################################
NET "sfp_tx_p[1]"			   	   	LOC = AP1			;	# MGTTXP0_112
NET "sfp_tx_n[1]"			   	   	LOC = AP2			;	# MGTTXN0_112
NET "sfp_rx_p[1]"	   					LOC = AP5			;	# MGTRXP0_112
NET "sfp_rx_n[1]"							LOC = AP6			;	# MGTRXN0_112
NET "sfp_tx_p[2]"			   	   LOC = AN3			;	# MGTTXP1_112
NET "sfp_tx_n[2]"			   	   LOC = AN4			;	# MGTTXN1_112
NET "sfp_rx_p[2]"			   	   LOC = AM5			;	# MGTRXP1_112
NET "sfp_rx_n[2]"			   	   LOC = AM6			;	# MGTRXN1_112
#NET "sfp_tx_p[3]"			   	   LOC = AM1			;	# MGTTXP2_112
#NET "sfp_tx_n[3]"			   	   LOC = AM2			;	# MGTTXN2_112
#NET "sfp_rx_p[3]"			   	   LOC = AL3			;	# MGTRXP2_112
#NET "sfp_rx_n[3]"			   	   LOC = AL4			;	# MGTRXN2_112
#NET "sfp_tx_p[4]"						LOC = AK1			;	# MGTTXP3_112
#NET "sfp_tx_n[4]"						LOC = AK2			;	# MGTTXN3_112
#NET "sfp_rx_p[4]"			   	   LOC = AJ3			;	# MGTRXP3_112
#NET "sfp_rx_n[4]"			   	   LOC = AJ4			;	# MGTRXN3_11


####################### GTX reference clock constraints #######################
NET "cdce_out1_p"                     LOC = AD6                                                                         ; # MGTREFCLK0P_113
NET "cdce_out1_n"                     LOC = AD5                                                                         ; # MGTREFCLK0N_113
NET "cdce_out1_p"                     TNM_NET = "cdce_out1_p"                                                          ;
NET "cdce_out1_n"                     TNM_NET = "cdce_out1_n"                                                          ;
TIMESPEC TS_cdce_out1_p =            	PERIOD "cdce_out1_p" 6.25 ns HIGH 50 %                                           ;
TIMESPEC TS_cdce_out1_n =            	PERIOD "cdce_out1_n" TS_cdce_out1_p PHASE 3.125 ns HIGH 50 %                    ;

################################# mgt wrapper constraints #####################

##---------- Set placement for gtx0_gtx_wrapper_i/GTX_DUAL ------
INST usr/high_speed_top_inst/high_speed_i/gtx0_high_speed_i/gtxe1_i LOC=GTXE1_X0Y0;

##---------- Set placement for gtx1_gtx_wrapper_i/GTX_DUAL ------
INST usr/high_speed_top_inst/high_speed_i/gtx1_high_speed_i/gtxe1_i LOC=GTXE1_X0Y1;



